*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #1e213f;
  color: #fff;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 32px;
  margin-inline: auto;
  width: min(100vw, 350px);
}
